		#general{
			font-family: Helvetica, Arial, sans-serif;
			text-align: justify;
		}
		#header {
			text-align: center;		
			width: auto;
			height : 100px;
			font-size: 1.5em;
			color : #1c343c;
		}
		#nav {
			color : #76b5c5;
			line-height: 40px;
			background-color:#1c343c;
			height: 700px;
			width: 200px;
			float: left;
			text-indent: 15px;
			font-size: 1.3em;
		}
		#section {
			width: auto;
			height: 550px;
			font-size: 1.2em;
		} 
		#footer { 
			color : black;
			width: auto;
			text-align: center; 
			height: 50px;
		}
		#img{
			float: right;
			width: auto;
		}

