.connexion {
	padding: 20px;
	width: 300px;
	height: 300px;
	margin: auto;
	background-color: #1c343c;
	position: relative;
}

#section {
	width: auto;
	height: auto;
	height: 550px;
	font-size: 1.2em;
}